openapi: 3.2.0
info:
  title: Archbee Public Space Groups API
  description: The Archbee Public API manages documentation spaces, documents, space groups, File Manager files, reader suggestions, organization exports and imported OpenAPI references in an Archbee workspace. Authentication uses an HTTP Bearer token whose value is base64(docSpaceId~apiKey), or a team key beginning abteam_.
  version: '2026-09-04'
  contact:
    name: Archbee Support
    email: support@archbee.com
    url: https://www.archbee.com/
  termsOfService: https://www.archbee.com/terms-of-service
  x-generated-from: https://www.archbee.com/docs/<slug>.md api-oas-v2 blocks published by Archbee
  x-generated-by: API Evangelist enrichment pipeline, local-v3
  x-generated-date: '2026-09-04'
servers:
- url: https://api.archbee.com/api/public-api
  description: Archbee API Server
security:
- bearerAuth: []
tags:
- name: Space Groups
  description: Grouping of documentation spaces
paths:
  /space-group/create:
    post:
      operationId: createSpaceGroup
      summary: Create Space Group
      tags:
      - Space Groups
      x-source-doc: https://www.archbee.com/docs/create-space-group
      description: Create a new space group with desired fields, return the space group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: name of space group
                isLlmEnabled:
                  type: boolean
                  description: whether AI will be enabled
                isReviewSystemEnabled:
                  type: boolean
                  description: whether review system will be enabled
                isBranchingSystemEnabled:
                  type: boolean
                  description: whether branching will be enabled
              required:
              - name
      responses:
        '200':
          description: Process status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - OK
                    description: Response Status
                description: Process status
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - OK
                    - Not OK
                    description: Response Status
                    example: Not OK
                  messages:
                    type: array
                    items:
                      type: string
                      example: Some error message
                    description: Array of messages
                    example: '["Some error message"]'
  /space-group/delete:
    delete:
      operationId: deleteSpaceGroup
      summary: Delete Space Group
      tags:
      - Space Groups
      x-source-doc: https://www.archbee.com/docs/delete-space-group
      description: Delete Archbee space group with given spaceGroupId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                spaceGroupId:
                  type: string
                  description: Space group id to delete.
                  example: 21-character__string0
      responses:
        '200':
          description: Process status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - OK
                    description: Response Status
                description: Process status
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - OK
                    - Not OK
                    description: Response Status
                    example: Not OK
                  messages:
                    type: array
                    items:
                      type: string
                      example: Some error message
                    description: Array of messages
                    example: '["Some error message"]'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Requires the Authorization header in the form Authorization: Bearer {base64(docSpaceId~apiKey)} — the base64 encoding of the docSpaceId, a tilde, and the apiKey. A team key beginning abteam_ may be used instead to reach every space in the organization.'
